<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mediumph.beam">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.NFC"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>



    <uses-feature android:name="android.hardware.nfc" android:required="true" />


    <resources xmlns:xliff="urn:oasis:names:tc:xliff:document:1.2">
        <tech-list>
            <tech>android.nfc.tech.IsoDep</tech>
            <tech>android.nfc.tech.NfcA</tech>
            <tech>android.nfc.tech.NfcB</tech>
            <tech>android.nfc.tech.NfcF</tech>
            <tech>android.nfc.tech.NfcV</tech>
            <tech>android.nfc.tech.Ndef</tech>
            <tech>android.nfc.tech.NdefFormatable</tech>
            <tech>android.nfc.tech.MifareClassic</tech>
            <tech>android.nfc.tech.MifareUltralight</tech>
        </tech-list>
    </resources>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".screens.screen_login"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".screens.screen_homeScreen"
            android:label="@string/title_activity_screen_home_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".screens.screen_loader"
            android:label="@string/title_activity_screen_loader"
            android:theme="@style/AppTheme"/>


        <activity
            android:name=".screens.screen_merchant"
            android:label="@string/title_activity_screen_merchant"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".pop.pop_merchantDeets"
            android:theme="@style/AppTheme.CustomPopTheme" />
        <activity
            android:name=".pop.pop_eventDeets"
            android:theme="@style/AppTheme.CustomPopTheme" />
        <activity
            android:name=".pop.pop_loading"
            android:theme="@style/AppTheme.CustomPopTheme">

            <intent-filter>
                <data
                    android:host="ext"
                    android:pathPrefix="/nfctutorials:externaltype"
                    android:scheme="vnd.android.nfc" />

                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT" />

            </intent-filter>


        </activity><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />



    </application>

</manifest>